body{
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
}

label{
  font-size: 16px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

table{
  border-collapse: collapse;
  text-align: left;
  margin-top: 30px;
}

table, table td, table th{
  border: 1px solid #c7c7c7;
  padding: 8px;
}

#submit{
  background-color: #97d1cb;
  color: white;
  padding: 15px;
  width: 270px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}

#submit:hover{
  background-color: yellow;
  color: black;
  border: 1px solid grey;
  transition: background-color 0.3s, color 0.3s;
}
